.App-header {
  text-align: center;
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

table {
  width: 100%;
}

input.active:valid {
  box-shadow: 0 0 5px 1px green;
}
input.active:invalid {
  box-shadow: 0 0 5px 1px red;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.dataTable {
  margin-top: 15px;
  margin-bottom: 10px;
}

.item-button {
  padding: 1px 10px;
  margin: 3px;
}

.calculations {
  margin-top: 20px;
  max-width: 750px;
}

#final-calculations > td {
  padding-top: 20px;
}

.margin-roi {
  margin-top: 20px;
  margin-bottom: 40px;
  padding-left: 8px;
}

.margin, .roi {
  max-width: 50%;
  display: flex;
  justify-content: space-between;
}

.buttons {
  margin-top: 15px;
}
.buttons > button {
  margin-right: 15px;
  margin-bottom: 10px;
}

.submit {
  text-transform: uppercase;
  margin-right: 10px;
  color: white;
  background-image: linear-gradient(to top, #73b43b 0%, #99dc60 100%);
  background-repeat: repeat-x;
  background-color: #73b43b;
  border-color: #5f8a4b;
}
.submit:hover {
  background-color: #73b43b;
  background-position: 0 -15px;
}

.form-group {
  margin-right: 5px;
}

@media (min-width: 768px) {
  label {
    display: none;
  }
}

.form-control {
  width: auto;
}

.input-group {
  max-width: 750px;
}

.hide {
  display: none;
  transition: display 1s;
}

.alert {
  margin-top: 20px;
}
